{% extends "base.html" %}

{%block heading%}<a href="/"><strong> Maori Dictionary</strong></a> {% endblock %}

{% block main %}
<div class="button-group">
    {% if logged_in %}
    <a href="/add_word"><strong> Add new words</strong></a>
    <!-- references add_word route when 'add new words' is clicked -->
    {% else %} <a href="/login"> <strong>log in if you're a teacher to add/delete words</strong> </a>
    <!-- redirects to login -->
    {% endif %}
</div>

<div id="words">
    {% for words in words %}
    <div class="product-box">
        <ul><a href="/words/{{words[0]}}"> {{words[0]}} - {{words[1]}}</a></ul>
        <!-- if a word is clicked, call the function 'words' and pass the clicked word as a parameter -->
        <img class="imgthumb" src="/static/images/{{words[2] }}"> <!-- thumbnail image -->
        {% if logged_in %}
        <form method="post" action="DeleteConfirm">
            <!-- create a form with a submit button such that when the button is clicked, the function DeleteConfirm is called -->
            <button type="submit" name="Delete_Word" value="{{words[0]}}">Delete</button>
            <!-- name the form as Delete_Word, with the value being the word to be deleted -->


        </form>
        {% endif %}
        {% endfor %}


    </div>
</div>
{% endblock %}

