{% extends "base.html" %}

{% block main %}
<div class = "button-group">
    {% if logged_in %}
    <a href = "/add_word"> Add new words</a>
    {% else %} <a href = "/login"> log in first</a>
    {% endif %}
</div>

<div id = "words">
{% for words in words %}
        <div class = "product-box">
            <ul><a href = "/words/{{words[0] }}"> {{words [0]}}</a> </ul>
      <form method="post" action="DeleteConfirm">

             <button type="submit" name="Delete_Word" value= {{words[0]}}>Delete</button>
    </form>

        {% endfor %}


</div>
{% endblock %}

</div>