{% extends "base.html" %}

{%block heading%} EDIT {% endblock %}

{%block title%} edit {% endblock %}

{%block tabheader%} edit {% endblock %}

{% block pageheading %} llo {% endblock %}

{% block main %}
<form class="myform" method="post">
    <div class="form-group">
        <div class="form-label">Add Category: </div>
        <div class="form-element"><input id="category" name="category" type="text"> </div>
    </div>
    <div class="button-group">
        <input type="submit" value="Submit">
    </div>
</form>
{% endblock %}