{% extends "base.html" %}

{%block heading%} Add word to category {% endblock %}

{%block title%} edit {% endblock %}

{%block tabheader%} edit {% endblock %}

{% block pageheading %} llo {% endblock %}

{% block main %}
<form class="dataForm" method="post">
    <div class="form-group">
        <div class="form-label">Maori: </div>
        <div class="form-element"><input id="maori" name="maori" type="text"> </div>
    </div>

    <div class="form-group">
        <div class="form-label">English: </div>
        <div class="form-element"><input id="english" name="english" type="text"> </div>
    </div>
    <div class="form-group">
        <div class="form-label">Year Level: </div>
        <div class="form-element"><input id="level" name="level" type="text"> </div>
    </div>

    <div class="form-group">
        <div class="form-label">Description: </div>
        <div class="form-element"><input id="description" name="description" type="text"> </div>


    <div class="button-group">
        <input type="submit" value="Submit">
    </div>
</form>
{% endblock %}