{% extends "base.html" %}

{%block tabheader%} Menu {% endblock %}

{% block pageheading %} TEST {% endblock %}

{% block main %}
<div id="words">
{% for words in words %}
        <div class = "product-box">
            <h3> english: {{ words[0] }}</h3>
            <p> maori: {{ words[1] }}</p>
            <p> <strong> level: </strong> {{ words[2] }}</p>
            <p> <strong> added by: </strong> {{ words[4] }}</p>
            <p> <strong> definition: </strong> {{ words[3] }}</p>
            <p> <strong> added on: </strong> {{ words[6] }}</p>
            <img src="static/images//{{words[5]}}.jpg">
        </div>

        {% endfor %}
</div>
{% endblock %}